.git 
.gitignore

node_modules
**/node_modules

dist
build
coverage
.playwright
playwright-report
test-results
*.junit.xml

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

*.log
npm-debug.Log*
pnpm-debug.log*
yarn-debug.log*

