node_modules
dist
build
coverage
.playwright
playwright-report
test-results
*.junit.xml

.DS_Store

apps/backend/src/generated/prisma

.env
.env.*
!.env.example

env
env.*

.bkp
.dtmp

.pnpm-store/

apps/frontend/.lighthouseci/

*.drawio.bkp