node_modules/
dist/
build/
.flowbite-react/
**/class-list.json
coverage/
.git/
.husky/_/
.playwright/
playwright-report/
test-results/

apps/backend/src/generated/
apps/backend/prisma/migrations/

pnpm-lock.yaml

.env
.env.*
!.env.example

.DS_Store
Images/